= Topic Name
:toc: macro
:toclevels: 2
:next-topic: Proceed to link:<next-topic>.adoc#[Next Topic Name]
:previous-topic: Go back to link:<previous-topic>.adoc#[Previous Topic Name]
:topic-table: Go to link:../README.adoc#[Table of Content]

toc::[]

=== Overview

=== Next Topic

{next-topic}

=== Previous Topic

{previous-topic}

=== Table of Content

{topic-table}
